@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #007bff;
    overflow: hidden;
}

.wrapper{
    background: #fff;
    max-width: 405px;
    margin: 135px auto;
    border-radius: 7px;
    padding: 28px 0;
}

.task-input{
    height: 52px;
    padding: 0 25px;
    position: relative;
}

.task-input input{
    height: 100%;
    width: 100%;
    padding: 0 20px 0 53px;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid #999;
}

.task-input i{
    position: absolute;
    top: 50%;
    transform: translate(17px, -50%);
}

.task-input input::placeholder{
    color: #bfbfbf;
}

.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 25px;
    border-bottom: 1px solid #ccc;
}

.filters span{
    margin: 0 8px;
    font-size: 17px;
    cursor: pointer;
}

.clear-btn{
    background: #007bff;
    border: none;
    outline: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
}

.filters span:first-child{
    margin: 0;
}

.filters span.active{
    color: #007bff;
}

.task-box{
    margin: 20px 25px;
}

.task{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
}

.task:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.task label{
   display: flex;
   align-items: center;
}

.task label p.checked{
  text-decoration: line-through;
}

.task label input{
    margin-right: 12px;
}

.task .settings{
    cursor: pointer;
    position: relative;
}


.settings .task-menu{
    position: absolute;
    background: #fff;
    z-index: 2;
    right: -5px;
    padding: 5px 0;
    transform: scale(0);
    border-radius: 4px;
    transform-origin: top right;
    transition: transform 0.2s ease;
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
    list-style: none;
}
.settings .task-menu.show{
   transform: scale(1);
}

.task-menu li{
    height: 45px;
    width: 120px;
    font-size: 16px;
    margin-bottom: 2px;
    padding: 17px 15px;
    justify-content: flex-start;
}

.task-menu li:last-child{
    margin-bottom: 0;
}
.task-menu li:hover{
    background: #f5f5f5;
}

.task-menu li i{
    padding-right: 8px;
}